* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav-logo img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 16px;
    margin-bottom: 5px;
}
.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}


body {
    padding-top: 80px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo h3 {
    font-size: 30px;
    font-weight: 600;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-list a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    transition: 0.3s;
}

.menu-toggle {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px;
    background-color: #F0F1F3;
}

.nav-logo{
    font-size: x-large;
    display: flex;
}

.nav-list-main{
    display: flex;
    margin-right: 35px;
    margin-top: 10px;
}

.nav-list{
    display: flex;
    list-style: none;
    font-size: larger;
    gap: 10px;
}
.nav-list>li{
    padding: 13px 20px;
    border-radius: 5px;
}
.nav-list>li{
    padding: 13px 20px;
    border-radius: 5px;
}
.nav-list>li>a{
text-decoration: none;
}
 
.list-a:hover{
    color: white;
}

.list-i{
    background-color: #9929FB;
    color: white;
}

.list-ite:hover{
    color: #9929FB;
        background-color: #DADADD;
}

.home-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
   margin-top: 50px;
}

.home-text>h1{
    width: 350px;
    font-size: 60px;
}

.home-text>p{
    font-size: 20px;
    width: 650px;
}

.home-main{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 50px 25px;
    padding: 130px 0px;
    background-color:#F9FEFD;
}

.for-color{
    background-color: #F9FEFD ;
}

.home-text>button{
    background-color: #9929FB;
    color: white;
    width: 140px;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.home-text>button:hover{
    background-color: #5b08a3;
    padding: 15px 21px;
}

.blur-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    gap: 10px;
}

.blur-div{
    padding: 20px 50px;
    text-align: center;
    background-color: #F6EBFE;
}

.blur-div>h1{
color: #364153;
}

.blur-div>p{
color: #7C72A2;
}

.text-image{
background-color: white;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* from here about style is start */

.about-main{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
    padding-top: 50px;
}

.about-text>p{
    width:550px;
    line-height: 30px;
    font-size: 20px ;
}
.about-text>h1{
    width:450px;
    font-size: 40px;
}

.about-img{
    /* border: 1px solid #364153; */
    width: 460px;
    margin: 50px;
}

.bands {
    font-size: 21px;
    color: #9929FB;
    padding: 15px;
    border-radius: 5px;
}

.bands:hover {
    background-color: #9929FB;
    color: white;
}

.about-img {
background-color: #F0F1F3;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: end;
align-items: center;
position: relative;
text-align: center;
}

.about-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .about-text>h1{
    font-size:20px;
    font-weight: 600;
} 

.about-text>p{
    font-size: 20px;
    width: 600px ;
    line-height: 10px;
} */


.img-icon{
    position:static;
    display: flex;
    background-color: #F0F1F3;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -20px;
    padding: 10px 20px;
}


.btn-main {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.btn-pro{
    padding: 7px 20px;
    background-color: #9929FB;
    color: white;
    border: none;
    border-radius:5px ;
    font-size: 20px;
    text-align: center;
    
}
.btn-pro-p, .btn-cv-p{
    margin: 0px;
}

.btn-pro:hover{
    background-color: #5b08a3;
    transition: 0.5s ease;
}

.btn-cv{
    border: 1px #c499eb  solid;
    padding: 6px 20px;
    border-radius: 5px;
    font-size: 20px;
    /* text-align: center; */
}

.btn-cv:hover{
    border: 1px #9929FB solid;
}

/* from here process css start */

.prosess-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 10px 0px 30px; */
    padding: 50px 10px 0px 30px;
    background-color: #F0F1F3;
}

.pros-text-p1{
    width: 400px;
    line-height: 27px;
}



.pros-card{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card{
    margin: 20px 10px;
    border-radius: 20px !important;
}

.pros-icon{
    font-size: 10px;
    background-color: #F0F1F3;
    color: #5b08a3;
    margin: 30px 100px 0px 15px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 200px;
    padding-left: 30px;
    padding: 20px 0 20px 29px
}

.card1{
    /* padding: 50px 0px; */
    padding: 20px 0px 10px 0px;
}

.pros-card-2{
    margin-top: 50px;
}

/* from here portfolio css styling is start */

.portfolio-main{
    padding-top: 100px;
}

.port-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.port-head-h1{
    font-weight: 750;
    font-size: 45px;
}
.port-head-p{
    width: 550px;
    font-size: 20px;
    color: #A6C2E8;
    padding: 24px 0px 0px 0px;
    margin-bottom:60px;
}

/* .card-subtitle{
    font-size: 11px;
} */

.card-body1{
    width: 390px;
}

.port-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}

.card-body1>btn1{
    background-color: none;
    color: black;
    list-style-type: none;
    border: 1px solid black;
    padding: 10px 20px;
}

.btn-procs{
    text-decoration: none !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 150px;
    padding: 10px 20px;
}
.btn-a{
    text-decoration: none;

}
.btn-procs:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding-right: 10px;
    padding: 10px 30px;
}

.port-fot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-fotbtn{
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    margin: 50px 0px;
    background-color: #9929FB;
    color: white;
}

.port-endmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101828;
    padding: 70px;
}

.port-end{
    align-items: center;
    text-align: center;
    width: 800px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.port-end>p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;    
    margin-top: 35px;
    color: white;
    width: 800px;
}
.port-end>h1{
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.portend-btn{
    background-color: #A53CFD;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 9px;
}
.portend-btn>button{
    font-weight: 900;
    border: none;
    background-color: #A53CFD;
    color: white;
}
/* from here blog styling is start */
.blog-head{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 60px 0px;
}
.blog-head>h1{
font-weight: 700;
font-size: 45px
}
.blog-head>p{
    text-align: center;
    color: #99A1B7;
    width:550px;
    font-size: 20px;
}

.blog-container{
    margin: 0PX 20px 100px 20px;
}

.blog-section {
    width: 100%;
    padding: 60px 8%;
    background: linear-gradient(to right, #fff, #e9fffe);
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.blog-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.07);
    transition: 0.3s;
    cursor: pointer;
}

.blog-card:hover {
    transform: translateY(-6px);
}

.blog-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.blog-info {
    padding: 15px;
}

.blog-info span {
    font-size: 13px;
    color: #888;
    display: block;
    margin-bottom: 8px;
}

.blog-info h3 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 1.4;
}
/* from here service styling is start */

.service-main{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F1F3;
    padding: 150px 15px 150px 25px;
}

.servicw-text{
    width: 800px;
    margin-top: 0px;
    padding: 0px 143px 0px 0px;
}
.servicw-text>h1{
    padding-bottom:10px;
    font-size: 50px;
    font-weight: 700; 
}

.servicw-text>p{
    font-size: 19px;
    color: #B0A6AF;
}

.service-btn{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background-color: #9829F9;
    color: white;
    border-radius: 5px;
}

.smalldiv-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.smmal-div1{
    /* margin-left: 290px; */
    /* margin: 0px 5px 0px 290px; */
    width: 660px;
    background-color: #FFFFFF;
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    border-radius: 5px;
}
.smmal-div1>h4{
    font-weight: 600;
}
.smmal-div1:hover{
    box-shadow: inset 6px 0 0 #A53CFD, rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: 0.3s;
}

.smmal-div1>p {
    font-size: 17px; 
    margin: 0px;
}

/* from here testimonial css styling is starts */

.testi-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testi-head>h1{
    font-size: 50px;
    font-weight: 600;
    margin: 100px 10px 20px 10px;
}
.testi-head>p{
    font-size: 20px;
    color: #87909D;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 500px;
    text-align: center;
}

/* from here contact css styling is starts */

.Contact-main{
    /* border: 1px solid black; */
    margin: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    /* bottom: 50px; */
    padding: 70px 0px;
    bottom: -100px;
}

.contact-text{
    width: 500px;
}

.conttext-h{
    font-weight: 600;
    margin-bottom: 30px;
}

.conttext-p{
    color: #8B94A0;
    font-size: 22px;
    justify-items: center;
}

.icon-contmain{
    /* border: 1px solid black; */
    padding: 20px 20px 20px 20px ;
    width: 350px;
}
.icon-contmain:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
    .sum{
        background-color: #9929FB;
        color: #FFFFFF;
    }
}

.icon-location{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    width: 300px;
}

.fa-location-dot , .sum{
    font-size: 25px;
    background-color: #F6EBFF;
    color: #9929FB;
    padding: 18px;
    border-radius: 10px;
}
.fa-location-dot:hover{
    background-color: #9929FB;
    color: #FFFFFF;
}
.sum:hover{
    background-color: #9929FB;
    color: #FFFFFF;
}

.icon-text{
    /* margin-left: 15px; */
    margin: 5px 0px 0px 15px;
}
.icon-text>p{
    margin: 0px;
}
.icon-text>h5{
    font-size: 18px;
    font-weight: 600;
}

.contact-mainicon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.contact-brands{
    margin: 30px 0px 0px 0px;
}

.cbrand {
    font-size: 25px;
    color: #9929FB;
    padding: 19px 17px;
    border-radius: 5px;
}

.cbrand:hover {
    background-color: #9929FB;
    color: white;
}

.contact-num>p{
    font-size: 21px;
    width: 500px;
    color:#87909D;
    font-weight: 500;
}
.contact-num{
    margin-bottom: 70px;
}

.mian-formcont{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 550px;
    margin-right: 75px;
}

.lable{
    font-size: 14px;
    color: #7b7b7b;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    padding: 8px 0px;
    font-size: xx-large;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
}

input:focus::placeholder {
    color: #A53CFD;
}
input::placeholder{
    font-size:18px;
    color: #A5A5A6;
    display: flex;
    justify-content: start;
}
input:focus{
    border-color: #a53cfd;
}

.form-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100px;
    padding: 6px 115px 7px 19px;
    border: none;
    border-radius: 5px;
    background-color: #9929FB;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;

}
.form-btn:hover{
    background-color: #7919C3;
    transition: 0.3s;
    .form-btn2{
        background-color: #7919C3;
    }
}


.form-btn2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #9929FB;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

/* from here footer css styling is start */


footer{
    /* background-color: black; */
    border: 1px solid black;
}

.fot-logo-main{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #2A3749;
    padding: 150px 15px 50px 0px ;
}

.fot-item>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px ;
    list-style-type: none;
}   
.fot-item>ul>li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    transition: width 0.4s ease, left 0.4s ease;
    transform: translateX(-50%);
}

.fot-item>ul>li:hover::after{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);    
}   
.fot-item>ul>li{
    position: relative;
    cursor: pointer;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
}   
.fot-item>ul>li:hover::after{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);    
}   

.fot-logo img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 16px;
    margin-bottom: 5px;
}

.fot-logo>h3 {
    margin-top: 13px;
    margin-left: 10px;
    color: white;
}

.fot-logo{
    display: flex;
    justify-content: center;
}

.fot-item{
    margin: 15px;
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0;
}

.fotnav-end{
    margin-top: 15px;
}
.fotnav-end>p{
    color: white;
}

.fotend-link{
    background-color:#2A3749;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.fotend-link>p{
    color: white;
    font-size: 20px;
}

.fotend-link>p>a{
    color: white;
    font-size: 20px;
    font-weight: 800;
}


@media(max-width:768px) {
    .menu-toggle {
        display: block
    }

    .nav-list-main {
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        background: white;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 15px 0;
        display: none;
    }

    .nav-list {
        flex-direction: column;
        gap: 15px;
        padding: 0 20px;
    }

    .nav-list a {
        display: block;
    }

    .nav-list-main.active {
        display: block;
    }
}