
.logo-main{
    display: flex;
    width: 20px ;
    height: 20px ;
    color: blue;
}

.nav-main{
    margin-top: 20px;
}

.big-margin {
    margin-left: 100px;

}

.big-margin1{
    margin-right: -120px;
    margin-right: 100px;
}

.btn1{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.btn2{
    color:white ;
    background-color: #1572D3;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

/* from here section is start styling  */

.home-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-text{
    width: 350px;
    margin-left: 110px;
}
.home-text>p{
    width: 300px;
}

.home-img{
    margin-top: 80px;
}

.location-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
    border-right:2px solid black ;
    margin-right: 20px;
}

.home-icons{
    display: flex;
    justify-content: center;  
    align-items: center; 
}
.location-text{
    padding-right:80px ;
}

.location-text>p,h6{
    margin: 0px;
}
.location-text>h6{
    margin: 0px;
}

.icon-btn{
    background-color: #1572D3;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
}

/* from here become a renter div styling is start */

.becrenter-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.becrenter-head>button{
    padding: 10px 20px;
    color: #1572D3;
    border: none;
    border-radius: 6px;
}
.becrenter-head>h3{
    margin-top: 20px;
}

.becrenter-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
}
.become-rentermain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.becrenter-icon-text{
    margin-top: 10px;
} 
.becrenter-icon-text>p{
    width: 160px;
} 
.becrenter-icon-text1>h5{
   margin-top: 10px;
} 
.becrenter-icon-text1>p{
    width: 210px;
} 
.becrenter-icon-text2>p{
    width: 240px;
} 
.becrenter-icon-text2>h5{
    margin-top: 10px;
} 

.becrenter-icon-img{
    padding: 20px;
    background-color: #ECF5FF;
    border-radius: 8px;
}

.become-rentermain-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}

.becrente-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

/* from here tetimonials syling is start */

.testimonials-main{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 50px;
}

.testi-text{
    margin-right: 100px;
}

.testi-head{
    background-color: #ECF5FF;
    width: 190px;
    padding: 10px 20px;
}
.testi-head>p{
    margin: 0px;
}

.testi-headh{
    width: 400px;
    margin-top: 20px;
}

.tesi-icon{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.tesi-icon>img{
    width: 70px ;
    height: 70px;
    margin-top: 5px;
}

.tesi-icon-text>p{
    width: 300px;
    margin: 0%;
}

/* from here cards styling is start */

.card-main{
    border: 1px solid black;
    width: 280px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.card-main>img{
    margin:20px 0px ;
}

.card-word{
    display: flex;
    gap: 10px;
}
.card-word>p{
margin: 0px;
}

.card-text{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.card-text-word{
    display: flex;
    gap: 10px;
}
.card-text-word>img{
    height: 19px;
    width: 18px;
}
.card-text-word>p{
    margin: 0%;
}

.card-price{
    display: flex;
    gap: 130px;
    border-top: 1px solid black;
    width: 250px;
    margin-top: 20px;
    padding: 10px 0px;
}

.card-price>p{
    margin: 0%;
    display: flex;
    gap: 10px;
}

.card-btn>button{
    padding: 10px 20px;
    border: none;
    background-color: #1572D3;
    color: white;
    border-radius: 6px;
    width: 250px;
}

.card-mainhead{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
}
.btn-end{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-endbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    border: 1px solid black;
    width: 200px;
    padding: 10px 20px;
}
.card-endbtn>a{
    color: black;
    text-decoration: none;
    
}
.card-endbtn>a:hover{
    color: black ;
}

/* from here about styling is starting */

.about{
    background-color: #F7FBFF;
}

.about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.aboutcard-text>p>span{
    font-size: 50px;
    
}
.aboutcard-text>p{
    width: 317px;
    margin: 0%;
}

.aboutcard-img>img{
    height: 290px;
    width: 314px;
}

.about-icon{
    margin-bottom: 30px;
}

.aboutcard-end{

}

.about-cardstart{
    display: flex;
    justify-content: center;
}
